<!DOCTYPE html>
<html lang="en">
<head>
        <% include ../../layout/head %>
</head>
<body>
    <header>
            <% include ../../layout/header %>
    </header>
  
    <main class="bookDetail">  
       
        <ul>
           
            <% bookDetail.forEach(item => { %>
             <li>
                <% include ./detail %> 

                <button class="viewDetailsButton" name="<%= item.id %>" >Update</button>
                <div  class="DetailFormDiv hidden">
                
                        <form class="DetailForm" action="/books/<%= item.id %>" method="POST">
                            <input type="hidden" name="_method" value="put">
                            <input type="hidden" name="id" value="<%= item.id %>">
                <% include ./edit %>
                        </form>
                    </div>
            </li>
            
            
            <% }) %>
        
        </ul>
    </main> 
     
    <footer>
            <% include ../../layout/footer %>
    </footer>
</body>
</html>