<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Results</title>
</head>
<body>
    <ul>
        <% searchResults.forEach(item => { %>
            <img src="<%= item.image %>" alt="book cover image">
            <p>Title: <%= item.title %></p>
            <p>Author: <%= item.author %></p>
            <p class="descpription">Description: <%= item.description %></p>
        <% }) %>
    </ul>
</body>
</html>