<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../layout/head %>
</head>
<body>
    <header>
        <% include ../../layout/header %>
    </header>
   <main class = "searchResults"> 
       
      <h2> Search Results</h2>    
        <ul>
            
            <% searchResults.forEach(item => { %>
            <li>
                <% include ../books/detail %>
            </li>
            <button class="viewDetailsButton" name="<%= item.id %>" >Select</button>
            <div  class="DetailFormDiv hidden">
                
                    <form class="DetailForm" action="/books/<%= item.id %>" method="POST">
                        <%- include ../books/edit %>
                    </form>
             </div>
                    
            <% }) %>
        </ul>
    </main>  
    <footer>
        <% include ../../layout/footer %>
    </footer>
</body>
</html>