<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../layout/head %>
</head>
<body>
    <div class="bg">
        <header>
            <% include ../layout/header %>
        </header>
        <main class = "savedBooks">  
            <h2>Saved books <%=  booksDb.length %></h2>   
            <ul>
                <% booksDb.forEach(item => { %>
                    <li>
                        <% include books/detail %>  
                    </li>
                    <form action = "books/<%=item.id %>">
                        <button class="viewdetails" name="<%= item.id %>">View Details</button>
                    </form>
                    <% }) %>
                    
                </ul>
            </main>  
            
            <footer>
                <% include ../layout/footer %>
            </footer>
    </div>
</body>
</html>
