.hidden{
    display: none;
}
























/* header{
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: space-between;
    position:fixed;
    top:0;
    z-index: 10;
   
}
main{
    position: absolute;
    top:14%;
    width: 100%;
}
nav{
    color: white;
    background-color: black;
    padding-top: 1em;
    font-size: 1.5em;
    text-align: right;
    padding-right: 4%;
    width: 50%;
}

h1{
    background-color: black;
    color: white;
    width: 50%;
    height: 3em;
    line-height: 3em;
    font-size: 1.5em;
    text-align: left;
    padding-left: 4%;
}
h2{
    background-color: rgb(74, 74, 74);
    width: 100%;
    height:2.5em;
    line-height:2.5em;
    color: white;
}

.searchPg {
    background-color:rgb(216, 216, 216); 
    width:85%;
    margin: 0% 5% 2% 5%;
    border-width: 0px;
    border-radius: 3px;
    /* height: 4em; */
    /* padding:auto 0px;
    line-height: 4em;
}
form :first-child{
    background-color: white;
    margin-top: 3%;
    height: 4em;
}

form :first-child label{
   padding-left: 3em;
}

form{
    display:flex;
    align-items: center;
    flex-direction: column;
}

button .searchButton{
    background-color: black;
    color:white;
    border-color: black;
    width: 85%;
    height: 4em;
    font-size:1em;
}

footer{
    position:fixed;
   bottom: 0%;
    /* left:47%; */
    /* width: 100%;
    background-color: black;
   
}

footer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
height: 50%;
    margin-top:4% ;
} */


