/*=================================== Header ============================ */

header{
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: space-between;
    position:fixed;
    top:0;
    z-index: 10;
}

/* Best Books! */
h1{
    background-color: black;
    color: white;
    width: 50%;
    height: 3em;
    line-height: 3em;
    font-size: 1.5em;
    text-align: left;
    padding-left: 4%;
}

/* Nav Hamburger drop-down menu */
nav{
    color: white;
    background-color: black;
    padding-top: 1em;
    font-size: 1.5em;
    text-align: right;
    padding-right: 4%;
    width: 50%;
}

/*=======================================================================================*/

/*=================================  Main  =================================================*/

main{
    position: absolute;
    top:11%;
    width: 100%;
    margin-bottom: 10%;
}

h2{
    background-color: rgb(74, 74, 74);
    width: 100%;
    height:2.5em;
    line-height:2.5em;
    color: white;
}

/* layout for dispalying book info from partials */
.savedBooks ul li, .bookDetail ul li, .searchResults ul li{
    margin-top: 30px;
    margin-bottom: 20px;
}

/*=======================================================================================*/

/*===================================== Footer ===========================================*/

footer{
    position:fixed;
   bottom: 0%;
    /* left:47%; */
    width: 100%;
    background-color: black;
    margin-top: 50px;
   
}

footer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
height: 50%;
    margin-top:4% ;
}

/*=======================================================================================*/

/*=========================================== HIDE ==================================*/
  /* hiding description, isbn for index page */
  .savedBooks li .description, .savedBooks li .isbn, .savedBooks li .bookshelf  {
      display:none;
  }

  /* hiding bookshelf on showSearchResults page because we dont-have any bookshelf */
.searchResults li .bookshelf{
    display:none;
}

  /* hiding form in searchREsults page */
  .hidden{
    display: none;
}

.savedBooks .delete{
    display: none;
}

.searchResults .delete{
    display: none;
}
/*========================================================================================*/