/* Button styling for all forms  */
button {
    background-color: rgb(160, 201, 184);
    width: 75%;
    height: 40px;
    font-size: 20px;
    border-radius: 20px;
    margin: 10px;
}

/*============================= PopUp Hamburger Menu =====================================*/

.dropdown {
    position: relative;
    display: inline-block; 
}

.overlay {
  position: fixed;
  top: 3%;
  bottom: 80%;
  left: 0;
  right: 0%;
 padding-right: 7%;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 9;
}

.overlay li{
    padding-right: 15px;
}

.overlay li a:hover {
    color: rgb(168, 202, 189);
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.close i{
    position: absolute;
    top:6%;
    
  right: 3.9%; 
}

/*=======================================================================================*/

/*================= Styles for the SearchForm from searches/new.ejs page ================*/
.searchPg {
    background-color:rgba(216, 216, 216, 0.925); 
    width:85%;
    margin: 50px 5% 5% 5%;
    border-width: 0px;
    border-radius: 3px;
    /* height: 4em; */
    /* padding:auto 0px; */
    line-height: 4em;
}
.searchForm :first-child{
    /* background-color: rgb(158, 145, 145); */
    /* margin-top: 10%;
    height: 4em; */
}

/* .searchForm form :first-child label{
   padding-left: 3em;
} */

.searchRadio{
    /* background-color: rgba(53, 51, 50, 0.774); */

    margin-top: 0px;
    display: flex;
    flex-direction: row;
    width: 100%;

}
label.searchPg{
/* width: 50px; */
/* height: 50px; */
background-color: rgba(53, 51, 50, 0.774);
color: azure;
font-size: 20px;
border-radius: 20px;

}

.searchForm{
    display:flex;
    align-items: center;
    flex-direction: column;
}

/*=======================================================================================*/


/*============ Style for the DetailForm from searches/showSearchResults.ejs page ========*/

.DetailForm{
    display:flex;
    flex-direction: column;
    align-items: center;

}
.DetailForm label{
    margin-top:20px;
}
.DetailForm input, .DetailForm select{
    width: 100%;
    height: 40px;
    box-shadow: 4px 3px 3px rgb(59, 59, 59);
    border-radius: 5px;
    font-size: 15px;
}

.DetailForm button {
    width: 100%;
}

/*=======================================================================================*/



