<h1><a href="/">Best Books!</a></h1>
    <nav >
        <div class = "dropdown">
           <a href = "#popup"><i class="fas fa-bars"></i></a>
         
            <ul id = "popup" class ="overlay">
                    <a class="close" href="#"><i class="fas fa-bars"></i></a>
                <li><a href= "/">Home</li>
                <li><a href = "/search">Search Books</a></li>
               
            </ul>
        </div>
        </nav>