<h1>Best Books!</h1>
<nav> 
    <div class="dropdownmenu">
            <i class="dropdownbtn">class="fa fa-bars" aria-hidden="true"></i>
            <div class="dropdowninfo">
                <a href='/'>HOME</a>
                <a href="/search">Search Google Books API</a>
            </div>
</div>
</nav>