<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book App</title>
    <script src="https://kit.fontawesome.com/7ed99913b3.js"></script>
    <link href="../../public/styles/reset.css" type="text/css" rel="stylesheet" />
    <link href="../../public/styles/base.css" type="text/css" rel="stylesheet" />
    <link href="../../public/styles/layout.css" type="text/css" rel="stylesheet" />
    <link href="../../public/styles/icons.css" type="text/css" rel="stylesheet" />